<div class="password-restore-page">
  <h2>Restore password</h2>

  <div *ngIf="isMailSend">
    <div *ngIf="isMailSendSuccessfully">
      <h3>Password restore letter was send!</h3>
    </div>
    <div *ngIf="!isMailSendSuccessfully">
      <h3>Password restore letter was not send, some error occurred!</h3>
    </div>
  </div>

  <form [formGroup]="emailFormGroup">
    <div>
      <div class="justify-content-center">

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Email Address</mat-label>
            <input matInput
                   formControlName="email">
          </mat-form-field>
        </div>

        <div *ngIf="isSendingProcess" align="center" class="custom-spinner">
          <mat-spinner></mat-spinner>
        </div>

        <div id="controls" class="row">
          <button style="width: 50%" [disabled]="emailFormGroup.invalid || isSendingProcess" (click)="submit()" mat-flat-button color="primary">
            Send password restore mail
          </button>
          <br>
          <a routerLink="/login">Login,</a><a routerLink="/register">Register</a>
        </div>

      </div>
    </div>
  </form>

</div>
