.group-alert {
  margin: 1rem;
}

.small-group-image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.post-card {
  margin: 1rem;
}

.group-short-info {
  margin: 0.5rem;
}

.user-name-link {
  color: blue;
}
