<div *ngIf="isDataLoaded" class="create-new-password-page">
  <h2>Create new password</h2>


  <form [formGroup]="newPasswordFormGroup">
    <div>
      <div class="justify-content-center">

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password"
                   formControlName="password">
          </mat-form-field>
        </div>
        <div *ngIf="formValue.password.errors && formValue.password.errors.minlength" class="custom-alert">Password length must be at least 6 characters!</div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Confirm password</mat-label>
            <input matInput type="password"
                   formControlName="confirmPassword">
          </mat-form-field>
        </div>
        <div *ngIf="formValue.confirmPassword.errors && formValue.confirmPassword.errors.minlength" class="custom-alert">Password length must be at least 6 characters!</div>

        <div *ngIf="this.newPasswordFormGroup.value.password != this.newPasswordFormGroup.value.confirmPassword" class="custom-alert">
          <p>Passwords are not equal!</p>
        </div>

        <div id="controls" class="row">
          <button [disabled]="newPasswordFormGroup.invalid || (this.newPasswordFormGroup.value.password != this.newPasswordFormGroup.value.confirmPassword)" (click)="submit()" mat-flat-button color="primary">
            Change password
          </button>
          <br>
          <a routerLink="/login">Login</a>
        </div>

      </div>
    </div>
  </form>

</div>

