<div>
  <div *ngIf="isPostDataLoaded; else problemPostBlock">
    <div class="post-address" role="alert">
      <div *ngIf="currentPageHostCategory == 'users'">
        <span routerLink="/{{currentPageHostCategory}}/{{currentPageId}}" > User profile page</span>
      </div>
      <div *ngIf="currentPageHostCategory == 'groups'">
        <span routerLink="/{{currentPageHostCategory}}/{{currentPageId}}" >Group profile page</span>
      </div>
    </div>

    <mat-card class="example-card" >
      <mat-card-header *ngIf="post.userGroupAuthor!=null; else userBlock" routerLink="/groups/{{post.userGroupAuthor.id}}">
        <img mat-card-avatar [src]="post.userGroupAuthor.smallAvatar.imageBytes | setterImagePipe">
        <mat-card-title>{{post.userGroupAuthor.name}}</mat-card-title>
        <mat-card-subtitle>{{post.createdDate | setterDatePipe}}</mat-card-subtitle>
      </mat-card-header>
      <ng-template #userBlock class="profile-content">
        <mat-card-header *ngIf="post.userAuthor!=null" routerLink="/users/{{post.userAuthor.id}}">
          <img mat-card-avatar [src]="post.userAuthor.smallAvatar.imageBytes | setterImagePipe">
          <mat-card-title>{{post.userAuthor.firstName}} {{post.userAuthor.middleName}} {{post.userAuthor.lastName}}</mat-card-title>
          <mat-card-subtitle>{{post.createdDate | setterDatePipe}}</mat-card-subtitle>
        </mat-card-header>
      </ng-template>
      <mat-card-content>
        <div *ngIf="post.commonImages.length>0">
          <div *ngFor="let commonImage of post.commonImages; let i = index" >
            <img mat-card-image class="post-image" [src]="commonImage.imageBytes | setterImagePipe" alt="One photo"
                 routerLink="/{{currentPageHostCategory}}/{{currentPageId}}/photos/{{commonImage.id}}">
          </div>
        </div>
        <div>
          {{post.caption}}
        </div>
        <div *ngIf="post.likes>0" (click)="openUserLikeToPostList()">
          likes: {{post.likes}}
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button *ngIf="!post.likedByLoginUser" (click)="likePost()">
          <mat-icon >
            favorite_border
          </mat-icon>
        </button>
        <button mat-button *ngIf="post.likedByLoginUser" (click)="disLikePost()">
          <mat-icon >
            favorite
          </mat-icon>
        </button>
        <button mat-button *ngIf="post.loginUserAuthor" (click)="deletePost()">
          <mat-icon color="warn" >
            delete
          </mat-icon>
        </button>
        <div *ngIf="post.previousPostId != null && post.nextPostId != null">
           <mat-divider></mat-divider>
           <span>
              <button  mat-raised-button color="primary" class="post-navigate-btn" routerLink="/{{currentPageHostCategory}}/{{currentPageId}}/posts/{{post.previousPostId}}">Previous post</button>
              <button  mat-raised-button color="primary" class="post-navigate-btn" routerLink="/{{currentPageHostCategory}}/{{currentPageId}}/posts/{{post.nextPostId}}">Next post</button>
            </span>
        </div>
      </mat-card-actions>
      <div>
        <h3>Comments:</h3>
        <app-add-comment [postId]="post.id"
                         (addCommentRequest)="addNewComment($event)"
        >
        </app-add-comment>
        <div class="profile-content" *ngIf="isCommentDataLoaded && comments.length > 0; else emptyCommentsBlock">
          <div class="post-search-page" *ngFor="let comment of comments; let i = index">
            <app-comment-element [comment]="comment"
                                 (deleteRequest)="deleteComment($event, i)"
            >
            </app-comment-element>
          </div>
        </div>
        <ng-template #emptyCommentsBlock class="profile-content">
          <div class="alert alert-warning empty-comments" role="alert">
            Comments is empty yet...
          </div>
        </ng-template>
      </div>
    </mat-card>

  </div>

  <ng-template #problemPostBlock>
    <div class="alert alert-warning post-alert" role="alert">
      Post with id {{currentPostId}} is not available...
    </div>
  </ng-template>
</div>
