.forgot-password-page {
  text-align: center;
  margin-top: 10rem;
}
#controls {
  display: block;
  margin: 0 auto;
  width: 100%;
}

mat-form-field {
  width: 50%;
}

.custom-spinner {
  margin: 1rem;
}
