<mat-card class="example-card" >
  <mat-card-content routerLink="/{{currentPageHostCategory}}/{{currentPageId}}/photos/{{commonImageInAlbum.id}}">
    <img class="center-cropped" mat-card-image [src]="commonImageInAlbum.imageBytes | setterImagePipe" alt="One photo" >
  </mat-card-content>
  <p *ngIf="commonImageInAlbum.likes>0" (click)="openUserLikeToCommonImageList()">
    likes: {{commonImageInAlbum.likes}}
  </p>
  <p *ngIf="commonImageInAlbum.likes==0">
    likes: 0
  </p>
  <mat-card-actions>
    <button mat-button *ngIf="!commonImageInAlbum.likedByLoginUser" (click)="likeCommonImage()">
      <mat-icon>
        favorite_border
      </mat-icon>
    </button>
    <button mat-button *ngIf="commonImageInAlbum.likedByLoginUser" (click)="disLikeCommonImage()">
      <mat-icon>
        favorite
      </mat-icon>
    </button>
    <button mat-button *ngIf="commonImageInAlbum.loginUserAuthor" (click)="deleteCommonImage()">
      <mat-icon color="warn">delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
