<div class="post-search-page">
  <div class="profile-content" *ngIf="isPostsDataLoaded && posts.length > 0; else emptyPostsBlock" >

    <div>
      <mat-paginator [length]="totalPosts"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="[3, 6, 9, 12, 24]"
                     (page)="getPaginatorData($event)"
                     aria-label="Select page">
      </mat-paginator>
    </div>

    <div class="post-search-page" *ngFor="let post of posts; let i = index">
      <app-post-element [post]="post"
                        (deleteRequest)="deletePost($event, i)"
      >
      </app-post-element>
    </div>

</div>
<ng-template #emptyPostsBlock class="profile-content">
  <div class="alert alert-warning" role="alert">
    Post List is empty yet...
  </div>
</ng-template>
