
@{
    ViewBag.Title = "Information";
}
    
<h2>О программе</h2>

<div>
    <p>
        Данное Web-приложение предгазначено для хранения данных об успеваемоости студентов, <br>
        оно позволяет хранить, добавлять и удалять данные о студентах.<br>
        Приложение создано на базе ASP.NET MVC Framework.
    </p>
</div>

