.group-alert {
  margin: 1rem;
}

.small-group-image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
  margin: 1rem;
  margin-top: 2rem;
}

.post-card {
  margin: 1rem;
}

.group-short-info {
  margin: 0.5rem;
}

.buttons-block {
  margin: 2rem;
  text-align: center;
}

.group-button {
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
